* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #151515;
    line-height: 1.6;
}

/* Estilos de navegação e cabeçalho */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff5100a5;
    border-radius: 5px;
}

.title {
    color: #fff;
    text-align: center;
    margin-top: 20%;
}

/* Estilos para o menu em dispositivos móveis */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

.menu-toggle.toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.toggle span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.logoprovisoria {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-left: 30%;
    margin-top: 30%;
}

.container {
    display: none;
    width: 85%;
    height: 200px;
    margin: 25% auto;
    background-color: #ffa514;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.container h1 {
    display: none;
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}
.container p {
    display: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.container img {
    display: none;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #f42d17;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #ff523c;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    nav ul {
        position: fixed;
        top: 70px;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #222;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    nav ul.mobile-menu {
        transform: translateX(0);
    }

    nav ul li {
        margin: 20px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .title {
        margin-top: 200px;
    }

    .container {
        display: block;
    }
    .container h1 {
        display: block;
    }
    .container p {
        display: block;
    }
    .container img {
        display: block;
    }

}
